# 核心科学计算
numpy==1.24.4
scipy==1.11.4
pandas==2.0.1
matplotlib==3.7.1
seaborn==0.13.2

# 机器学习基础
scikit-learn==1.3.2
tensorflow==2.10.0
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2

# 符号回归
feyn==3.4.1
gplearn==0.4.2
autora==4.2.0
autora.theorist.bms

# 工具包
tqdm==4.66.4
sympy==1.12
setuptools==68.2.2
mdurl
rich
pyyaml
ipykernel

# kan
pykan